<br/>

<hr/>

<div>
    <div class="ebook-col-wrapper">
        <div class="ebook-col-txt">
            <p>Want to learn more about data visualization?</p>
            <p>&#10148; Download my checklist <a href="https://szanto.swiss/ebook/10-steps-checklist/"
                                                 title="Link to eBook" target="_blank">10 Steps to Amazing Data
                Visualizations</a></p>
        </div>
        <div class="ebook-col-img">
            <img src="/assets/images/ebook/ebook_cover.png" alt="eBook cover" title="eBook cover"/>
        </div>
    </div>
</div>