<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">

<footer class="site-footer h-card">
    <data class="u-url" value="{{ '/' | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="post-meta copy">
                    &copy; 2026 {{ site.author.name | escape }}&nbsp;&nbsp;&nbsp;&#9679;&nbsp;&nbsp;&nbsp;All Rights Reserved
                </p>
            </div>

            <div class="footer-col">

                <div class="post-meta social-links">
                    <p class="copy">
                        <a class="page-link" href="/legal/privacy">Privacy</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="page-link" href="/legal/impressum">Impressum</a>
                        &nbsp;&nbsp;&nbsp;
                    </p>
                    {%- include social.html -%}
                </div>
            </div>
        </div>
    </div>

</footer>