$brand-color:           #0571B0;

$background-color:      $brand-color;
$code-background-color: #F7F7F7;

$text-color:            $brand-color-dark;

$site-title-color:      $code-background-color;

$link-base-color:       $brand-color;
$link-hover-color:      $brand-color;
