/**
 * header
 */
 
.site-title {
  &:hover {
    color: $site-title-color;
    text-decoration: underline;
  }
}

.site-sub-title {
  @include relative-font-size(1.375);
  font-weight: 200;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $site-title-color;
}

.site-nav .page-link {
	color: $site-title-color;
}

/**
 * footer
 */
 
.site-footer {
    padding: 10px 0;
	background-color: $brand-color;
}

.footer-col .copy {
	margin-top:15px;
	color: $site-title-color;
}

/**
 * content
 */

.page-content {
	background-color: $code-background-color;
}

/**
 * post
 */
 
.mini-image {
	width: 3em;
	border: 1px solid #252525;
}
 

/**
 * tags
 */
 
.post-list code, .page-content code {
  padding: 2px 4px;
  margin: 4px 8px 4px 0px;
  font-size: 0.9rem;
  color: $brand-color;
  background-color: $code-background-color;
  border: none;
  /* border-radius: 0.2rem;
  border: 1px solid #252525; */
}


/**
 * social media
 */
 
.social-media-list li a {
	border: 1px solid #252525;
}

.social-links .svg-icon {
	fill: #252525;
}


/**
 * ebook footer
 */
 
.ebook-col-wrapper {
}

.ebook-col-txt, .ebook-col-img {
  margin-bottom: $spacing-unit / 2;
}

@media screen and (min-width: $on-medium) {
  .ebook-col-wrapper {
    display: flex
  }

  .ebook-col-wrapper > * {
	flex: 0 0 auto;
  }

  .ebook-col-txt {
    // width: calc(100% - (#{$spacing-unit} / 2));
	width: 300px;
    padding: 0 ($spacing-unit / 2);
	padding-right: $spacing-unit/ 2;
    padding-left: 0;
	overflow-wrap: break-word; 
  }
  
  .ebook-col-img {
    // width: calc(100% - (#{$spacing-unit} / 2));
	// width: 400px;
    padding: 0 ($spacing-unit / 2);
	padding-right: 0;
    padding-left: $spacing-unit / 2;
  }
  
}